In [1]:
%load_ext rpy2.ipython

In [6]:
x = %R rnorm(10, mean = 10, sd = 15)

In [7]:
x

array([-17.30591817,  38.49750816,  -4.97078427,  17.40087304,
         2.42346702,  13.20131565,  17.55102464,   6.35002201,
         1.15468242,  22.27535192])

In [8]:
import pandas as pd

In [9]:
affairs_df = pd.read_csv("https://raw.githubusercontent.com/mark-andrews/intropy4ds/master/data/affairs.csv")

In [10]:
affairs_df

,affairs,gender,age,yearsmarried,children,religiousness,education,occupation,rating
0,0,male,37.0,10.00,no,3,18,7,4
1,0,female,27.0,4.00,no,4,14,6,4
2,0,female,32.0,15.00,yes,1,12,1,4
3,0,male,57.0,15.00,yes,5,18,6,5
4,0,male,22.0,0.75,no,2,17,6,3
...,...,...,...,...,...,...,...,...,...
596,1,male,22.0,1.50,yes,1,12,2,5
597,7,female,32.0,10.00,yes,2,18,5,4
598,2,male,32.0,10.00,yes,2,17,6,5
599,2,male,22.0,7.00,yes,3,18,6,2
600,1,female,32.0,15.00,yes,3,14,1,5

In [11]:
%%R -i affairs_df -o S

affairs_df$had_affair <- affairs_df$affairs > 0

M <- glm(had_affair ~ gender + age + yearsmarried,
         data = affairs_df,
         family = binomial(link = 'logit'))

S <- summary(M)

In [13]:
print(S)

Call:
glm(formula = had_affair ~ gender + age + yearsmarried, family = binomial(link = "logit"),
    data = affairs_df)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-1.0995  -0.7913  -0.6624  -0.4500   2.0118

Coefficients:
             Estimate Std. Error z value Pr(>|z|)
(Intercept)  -0.89976    0.40296  -2.233   0.0256 *
gendermale    0.34562    0.19833   1.743   0.0814 .
age          -0.04045    0.01721  -2.350   0.0188 *
yearsmarried  0.11084    0.02811   3.943 8.03e-05 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 675.38  on 600  degrees of freedom
Residual deviance: 656.35  on 597  degrees of freedom
AIC: 664.35

Number of Fisher Scoring iterations: 4

In [15]:
print(S.rx2('coefficients'))

                Estimate Std. Error   z value     Pr(>|z|)
(Intercept)  -0.89976000 0.40296358 -2.232857 2.555838e-02
gendermale    0.34562410 0.19832822  1.742687 8.138822e-02
age          -0.04045319 0.01721471 -2.349920 1.877747e-02
yearsmarried  0.11083639 0.02810619  3.943487 8.030536e-05

In [16]:
import numpy as np

In [17]:
coefficients = S.rx2('coefficients')

In [18]:
coefficients

<rpy2.robjects.vectors.FloatMatrix object at 0x7f3c6d12b8c0> [RTYPES.REALSXP]
R classes: ('matrix', 'array')
[-0.899760, 0.345624, -0.040453, 0.110836, ..., 0.025558, 0.081388, 0.018777, 0.000080]

In [19]:
type(coefficients)

rpy2.robjects.vectors.FloatMatrix

In [24]:
np.array(coefficients).round(2)

array([[-0.9 ,  0.4 , -2.23,  0.03],
       [ 0.35,  0.2 ,  1.74,  0.08],
       [-0.04,  0.02, -2.35,  0.02],
       [ 0.11,  0.03,  3.94,  0.  ]])

In [23]:
coefficients.dim

<rpy2.robjects.vectors.IntVector object at 0x7f3c6d121740> [RTYPES.INTSXP]
R classes: ('integer',)
[4, 4]

In [25]:
S.rx2('deviance') # equivalent to S$deviance

<rpy2.robjects.vectors.FloatVector object at 0x7f3c6ef873c0> [RTYPES.REALSXP]
R classes: ('numeric',)
[656.351989]

In [28]:
np.array(S.rx2('deviance'))[0]

656.3519885810024